<div class="container">
  <h3 class="app-title">Friend application</h3>

  <form>
    <div class="mb-3">
      <label for="exampleInputImage" class="form-label">Image</label>
      <img src="" />
    </div>

    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input type="text" name="name" />
    </div>

    <div class="mb-3">
      <label class="form-label">Age</label>
      <input type="number" name="age" />
    </div>

    <div class="mb-3">
      <label class="form-label">Species</label>
      <input type="text" name="species" />
    </div>

    <div class="mb-3">
      <label class="form-label">Class</label>
      <input type="text" name="class" />
    </div>

    <div class="mb-3">
      <label class="form-label">Favourite food</label>
      <input type="text" name="favFood" />
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
