<div class="container">
  <h3 class="app-title">Zoo of Losers</h3>

  <form>
    <div class="mb-3">
      <label for="exampleInputImage" class="form-label">Image</label><br />
      <img
        class="zoo-image"
        src="https://d2lv662meabn0u.cloudfront.net/boomerang/dynamic/show/00000000/988/5e40a28bfc21629a2b42073994667591498da014_1564413442.jpg"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label><br />
      <input type="text" name="name" class="form-control" />
    </div>

    <div class="mb-3">
      <label class="form-label">Age</label><br />
      <input type="number" name="age" class="form-control" />
    </div>

    <div class="mb-3">
      <label class="form-label">Species</label><br />
      <input type="text" name="species" class="form-control" />
    </div>

    <div class="mb-3">
      <label class="form-label">class</label>
      <select
        class="form-select"
        name="animalClass"
        id="animalClass"
        name="animalClass"
      >
        <option *ngFor="let animalClass of animalClasses">
          {{ animalClass }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Favourite food</label>
      <input type="text" name="favFood" class="form-control" />
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
