{{ animal | json }}

<div class="container">
  <h3 class="app-title">Zoo of Losers</h3>

  <form #formName="ngForm">
    <div class="mb-3">
      <label for="exampleInputImage" class="form-label">Image</label><br />
      <div class="image-upload">
        <img
          class="zoo-image"
          id="exampleInputImage"
          src="https://d2lv662meabn0u.cloudfront.net/boomerang/dynamic/show/00000000/988/5e40a28bfc21629a2b42073994667591498da014_1564413442.jpg"
        />
        <input
          type="url"
          class="form-control"
          id="image-input"
          #animalImage="ngModel"
          name="animalimage"
          [(ngModel)]="animal.animalImage"
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label><br />
      <input
        type="text"
        name="animalname"
        class="form-control"
        id="exampleInputName"
        #animalName="ngModel"
        [(ngModel)]="animal.animalName"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputAge" class="form-label">Age</label><br />
      <input
        type="number"
        name="animalage"
        class="form-control"
        id="exampleInputAge"
        #animalAge="ngModel"
        [(ngModel)]="animal.animalAge"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputSpecies" class="form-label">Species</label><br />
      <input
        type="text"
        name="animalspecies"
        class="form-control"
        id="exampleInputSpecies"
        #animalSpecies="ngModel"
        [(ngModel)]="animal.animalSpecies"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputClass" class="form-label">Class</label>
      <select
        class="form-select"
        name="animalClass"
        id="exampleInputClass"
        name="animalClass"
        #animalClass="ngModel"
        [(ngModel)]="animal.animalClass"
      >
        <option *ngFor="let animalClass of animalClasses">
          {{ animalClass }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="exampleInputFood" class="form-label">Favourite food</label>
      <input
        type="text"
        name="favFood"
        class="form-control"
        id="exampleInputFood"
        #animalFood="ngModel"
        [(ngModel)]="animal.animalFood"
      />
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
